{% extends 'index.html' %}
{% block content %}
<div class="container">
  <!-- Content here -->
  <table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Nombre</th>
				<th scope="col">Numero de camisa</th>	
				<th scope="col">Acción</th>
			</tr>
		</thead>
		<tbody>
			{% for jugador in jugadores %}
				<tr>
					<td>{{ jugador.id }}</td>
					<td>{{ jugador.nombre }}</td>
					<td>{{ jugador.numero_camisa }}</td>
					<td>
						<a class="btn btn-primary"  href="{% url 'act-jugador' jugador.id%}">Editar</a>
						<a class="btn btn-danger" href="{% url 'del-jugador' jugador.id%}">Eliminar</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
	
{% endblock %}